/* .theme-dark * {
    color: #ccc;
} */

.theme-dark {
    color: #CCC;
}

.theme-dark .text-dark {
    color: #CCC!important;
}

.theme-dark .text-dark :hover {
    color: #AAA!important;
}

.theme-dark .text-light {
    color: #333!important;
}

.theme-dark .text-light :hover {
    color: #555!important;
}

.theme-dark .text-secondary {
    color: #aaa!important;
}

.theme-dark body {
  color: #CCC;
  background-color: #060606;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.theme-dark pre.highlight {
    background-color: #333;
    padding: 1em;
    color: #BBB;
}

.theme-dark .oi {
    font-size: 80%;
}
.theme-dark .navbar-brand.brand-berkeley {
    color: hsl(201, 46%, 35%);
    font-weight: bold;
    font-size: 2rem;
}

.theme-dark .navbar-brand.brand-berkeley:hover {
    color: hsl(201, 46%, 30%);
}

.theme-dark .navbar {
    margin-bottom: 2rem;
    background-color: #0f1113!important;
}

.theme-dark .wrapper {
  padding-bottom: 4rem;
  background-color: #000!important;
}

.theme-dark .page-footer {
    padding: 2.5rem 0;
    color: #666;
    background-color: #0c0c0c;
}

.theme-dark .wk-number {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.125);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    min-width: 40px;
    text-align: center;
    background-color: #111!important;
}

.theme-dark .staff-image {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
}

.theme-dark .staff-bio {
    font-size: 14px;
}

.theme-dark .fc-time-grid .fc-slats td {
    height: 2rem !important;
    border-bottom: 0;
}

.theme-dark a.fc-v-event {
    background: #003262;
    border-color: #003262;
}

.theme-dark a.fc-v-event.lecture-event {
    background: hsl(38, 87%, 41%);
    border-color: hsl(38, 87%, 37%);
    color: #ccc;
}

.theme-dark table {
    color: #CCC;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

.theme-dark td, th {
    border: 1px solid #333;
    height: 30px;
}

.theme-dark th {
    background: #0c0c0c;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

.theme-dark td {
    background: #050505;
    text-align: center;
}

.theme-dark .card-group {
    background-color: #444;
}

.theme-dark .card-body, .theme-dark .card {
    background-color: #333;
}

.theme-dark .list-group-item {
    background-color: #303030;
}

.theme-dark .card-footer {
    background-color: #111;
}

.theme-dark .nav-tabs .nav-item.show .nav-link, .theme-dark .nav-tabs .nav-link.active {
    color: #CCC;
    background-color: #333;
    border-color: #dee2e6 #dee2e6 #fff;
}

.theme-dark .bg-light {
    background-color: #444!important;
}

.theme-dark .card-header {
    background-color: #444!important;
}

.theme-dark .highlight .gp {
    color: #ff9d00;
}

.theme-dark .highlight .nv {
    color: #FFFFFF;
}

.theme-dark .highlight .nb {
    color: #4c88f9;
}

.theme-dark .highlight .nt {
    color: #428fff;
}

.theme-dark .highlight .w {
    color: #333;
    text-decoration: underline;
}

.theme-dark .highlight .c {
    color: #ff9e02;
}

.theme-dark .highlight .n {
    color: #fff;
}

.theme-dark .highlight .p {
    color: #cecece;
}

.theme-dark .highlight .c1 {
    color: #ff9d00;
}

.theme-dark .highlight .k {
    color: #347de6;
}

.theme-dark .highlight .mi {
    color: #5454ff;
}

.theme-dark .highlight .kn {
    color: #4692ff;
}

.theme-dark .highlight .kt {
    color: #3484f7;
}

.theme-dark .highlight .nn {
    color: #a0a0a0;
}

.theme-dark .highlight .o {
    color: #ff7200;
}

.theme-dark .highlighter-rouge {
    color: #42a8ff;
    background-color: #333;
}

.theme-dark .ui-button {
    background: #555;
    color: #00d1b2;
}
.theme-dark .ui-button:hover {
    background-color: #333;
    color: #bbb;
}

.theme-dark .ui-button:focus {
    background-color: #222;
    color: #CCC;
}

.theme-dark a.text-dark:focus, .theme-dark a.text-dark:hover {
    color: #EEE!important;
}

.theme-dark .text-secondary:hover {
    color: #CCC!important;
}

.theme-dark a:hover {
    color: #3394ff;
}

.theme-dark .bg-white { 
    background-color: #000!important;
}

.theme-dark ::-webkit-scrollbar { width: 8px; height: 4px;}
.theme-dark ::-webkit-scrollbar-button {  background-color: #666; }
.theme-dark ::-webkit-scrollbar-track {  background-color: #646464;}
.theme-dark ::-webkit-scrollbar-track-piece { background-color: #000;}
.theme-dark ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
.theme-dark ::-webkit-scrollbar-corner { background-color: #646464;}
.theme-dark ::-webkit-resizer { background-color: #666;}