table {
  table-layout:fixed;
}

thead th:nth-of-type(1) {
    width: 7.2%;
}

thead th:nth-of-type(2) {
    width: 10%;
}

thead th:nth-of-type(3) {
    width: 27%;
}

thead th:nth-of-type(4) {
    width: 14%;
}

tbody tr:nth-of-type(2) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(3) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(6) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(7) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(10) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(11) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(14) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(15) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(16) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(19) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(20) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(23) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(24) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(27) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(28) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(31) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(32) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(34) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(n):nth-of-type(-n+4) td:nth-child(6) {
    background-color: #fff3ce;
}

tbody tr:nth-of-type(n+5):nth-of-type(-n+8) td:nth-child(6) {
    background-color: #c4e6ff;
}

tbody tr:nth-of-type(n+9):nth-of-type(-n+17) td:nth-child(6) {
    background-color: #cbe9b0;
}

/* tbody tr:nth-of-type(n+17):nth-of-type(-n+17) td:nth-child(6) {
    background-color: #ffe4b4;
} */

tbody tr:nth-of-type(n+18):nth-of-type(-n+26) td:nth-child(6) {
    background-color: #dee0ff;
}

tbody tr:nth-of-type(n+27):nth-of-type(-n+30) td:nth-child(6) {
    background-color: #ffdee0;
}

/* tbody tr:nth-of-type(n+30):nth-of-type(-n+33) td:nth-child(6) {
    background-color: #b7f7fd;
} */
