table {
  table-layout:fixed;
}

thead th:nth-of-type(1) {
    width: 7.2%;
}

thead th:nth-of-type(2) {
    width: 10%;
}

thead th:nth-of-type(3) {
    width: 27%;
}

thead th:nth-of-type(4) {
    width: 14%;
}

tbody tr:nth-of-type(3) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(4) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(7) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(8) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(11) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(12) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(15) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(16) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(19) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(20) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(24) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(25) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(28) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(29) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(32) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(33) td {
    background-color: #ddd;
}

tbody tr:nth-of-type(-n+1) td:nth-child(6) {
    background-color: #fff3ce;
}

tbody tr:nth-of-type(n+2):nth-of-type(-n+5) td:nth-child(6) {
    background-color: #c4e6ff;
}

tbody tr:nth-of-type(n+6):nth-of-type(-n+10) td:nth-child(6) {
    background-color: #cbe9b0;
}

tbody tr:nth-of-type(n+11):nth-of-type(-n+16) td:nth-child(6) {
    background-color: #ffe4b4;
}

tbody tr:nth-of-type(n+17):nth-of-type(-n+24) td:nth-child(6) {
    background-color: #dee0ff;
}

tbody tr:nth-of-type(n+25):nth-of-type(-n+28) td:nth-child(6) {
    background-color: #ffdee0;
}

tbody tr:nth-of-type(n+29):nth-of-type(-n+31) td:nth-child(6) {
    background-color: #b7f7fd;
}
